@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  border: none;
}

nav {
  box-shadow: 5px 5px 3px #2c3e4c;
}

h1 {
  background: linear-gradient(to left, #3944bc, #1338be, #82eefd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 150px;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
}

body{
  background-image: url('film.png') ;
  background-size: 100%;
  background-position: cover;
  background-repeat: no-repeat;
}

.card {
  /*position: relative;*/
  z-index: 1000;
  border: none;
}

.card-body {
  width: 300px;
  height: 350px;
  position: absolute;
  margin: 10px;
  background-color: rgba(253, 229, 229, 0.02);
  z-index: -1;
  box-shadow: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3px);
  border: 1px solid rgba(255, 255, 255, 0.9);
  border-radius: 10px;
}

.text {
  text-align: center;
  color: #f8f8ff;
  padding-top: 20px;
  text-transform: capitalize;
}